<h2 class="person-name">{{person.full_name}}</h2>
{{#unless isUnaffiliated}}
  <div class="person-info" data-jurisdiction={{person.state}}>
    {{person-affiliation person=person tagName="span" class="jurisdiction"}}
  </div>
{{/unless}}
